In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import linregress
import seaborn as sns

In [2]:
# Reading CSV files
# reading Education Index file
education_index = pd.read_csv("../Clean Data/EducationIndexClean.csv")
education_index.head()

        Country   2016   2017
0   Afghanistan  0.410  0.415
1       Albania  0.742  0.745
2       Algeria  0.663  0.664
3       Andorra  0.714  0.714
4        Angola  0.487  0.498